# MATH 210 Introduction to Mathematical Computing

## September 12, 2018

* Sequences
* Indexing and Slicing
* List Comprehensions
* Built-in functions
* Sequences and series

## Sequences

The most common sequence types are lists, tuples and range objects. We use square bracket syntax to create a list.

In [1]:
triangular = [1,3,6,10,15,21,28,36]

Use the built-in function `type` to verify the datatype.

In [2]:
type(triangular)

list

We use parentheses to define a tuple.

In [3]:
point = (2.1,-3.7)

In [4]:
type(point)

tuple

Lists and tuples are very similar. The main difference is that lists are mutable and tuples are not (ie. we can't modify a tuple after we create it.). This difference doesn't really matter for us in this class. But this difference changes the way people use lists and tuples.

A range object is an efficient sequence of integers. We use the built-in function `range` to create a range object. A range object only produces the values in the sequence when you ask for it. We can use the built-in function `list` to convert a range object to a list to see the values.

In [5]:
sequence = range(0,24,3)

In [6]:
type(sequence)

range

In [7]:
print(sequence)

range(0, 24, 3)

In [8]:
sequence_list = list(sequence)

In [9]:
print(sequence_list)

[0, 3, 6, 9, 12, 15, 18, 21]

In [10]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Range objects are sequences of integers only and we get an error if we try to increment by a float.

In [11]:
list(range(0,1,0.1))

TypeError: 'float' object cannot be interpreted as an integer

## Indexing and Slicing

We access entries in a sequence by square brackets syntax and index number.

In [12]:
triangular = [1,3,6,10,15,21,28,36]

In [13]:
triangular[0]

1

In [14]:
triangular[2]

6

Use the colon to access a sublist (aka slice).

In [15]:
triangular[4:7]

[15, 21, 28]

In [16]:
million = range(0,1000001)

In [17]:
million[90210]

90210

## List Comprehensions

Python has a beautiful syntax for creating lists called a list comprehension. The syntax takes the form

```
[expression for item in iterable]
```

where:
* `expression` is any Python expression involving the variable `item`
* `item` is a variable name and takes each value in `iterable`
* `iterable` is any sequence
* `for` and `in` are keywords

Create squares from 0 to 16.

In [18]:
[n**2 for n in range(0,5)]

[0, 1, 4, 9, 16]

Create terms in harmonic series:

In [19]:
[1/n for n in range(1,10)]

[1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111]

## Built-in Functions

There are several built-in functions. We've already used `type` and `print`.

Let's use `sum` to compute the sum of a sequence.

Sum the integers from 1 to 1000.

In [20]:
sum(range(1,1001))

500500

## Sequences and Series

Compute the sum

$$
\sum_{k = 1}^{N} \frac{1}{k^2}
$$

for $N=100$. Do this in two steps:
1. Create the sequence of terms in the series.
2. Compute the sum of the sequence of terms.

In [21]:
terms = [1/k**2 for k in range(1,101)]

Let's look at the first four terms of the sequence just make sure they are what we think they should be.

In [22]:
terms[:4]

[1.0, 0.25, 0.1111111111111111, 0.0625]

Sum the terms.

In [23]:
sum(terms)

1.6349839001848923

A famous formula by Euler says

$$
\sum_{k=1}^{\infty} \frac{1}{k^2} = \frac{\pi^2}{6}
$$

Let's compare our partial sum.

In [24]:
3.14159**2/6

1.6449312880166664

Kinda close!

Compute the 10th partial sum of the Taylor series for $\ln (1+x)$

$$
\ln(1+x) = \sum_{k=1}^{\infty} \frac{(-1)^{k-1}x^k}{k}
$$
for $N=100$ and $x=1$.

In [25]:
terms = [(-1)**(k-1)/k for k in range(1,101)]
sum(terms)

0.688172179310195